# ==============================
# GLOBAL
# ==============================
NODE_ENV=development

# ==============================
# SECURITY
# ==============================
JWT_SECRET=REEMPLAZAR_POR_VALOR_REAL_SEGURO

# ==============================
# OAUTH 42
# ==============================
OAUTH_42_CLIENT_ID=REEMPLAZAR
OAUTH_42_CLIENT_SECRET=REEMPLAZAR
OAUTH_42_REDIRECT_URI=https://localhost:8443/api/auth/42/callback

# ==============================
# DATABASES
# ==============================
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_password
AUTH_DB_NAME=auth_db

USERS_DB_USER=users_user
USERS_DB_PASSWORD=users_password
USERS_DB_NAME=

CHAT_DB_USER=chat_user
CHAT_DB_PASSWORD=chat_password
CHAT_DB_NAME=chat_dbs

# ==============================
# GATEWAY
# ==============================
GATEWAY_PORT=3000
CORS_ORIGIN=https://localhost:8443

RATE_LIMIT_TTL=60
RATE_LIMIT_MAX=100

# ==============================
# INTERNAL SERVICE URLS (DOCKER NETWORK)
# ==============================
AUTH_SERVICE_URL=http://auth-service:3003
USERS_SERVICE_URL=http://users-service:3006
GRAFANA_URL=http://grafana:3001
CHAT_SERVICE_URL=http://chat-service:3009



# ==============================
# NGINX
# ==============================
NGINX_HTTPS_PORT=8443

# ==============================
# FRONTEND
# ==============================
FRONTEND_PORT=80